<template>
	<div class="container">
		<h3 class="header">Generate keywords</h3>
		<div class="content">
			<div class="item right">
				<a href="#" class="btn btn-success" @click="sets.push([])">+</a>
			</div>
			<div class="item scrollable">
				<textarea v-for="(set, index) in sets"
						  cols="30"
						  class="set-block"
						  style="display: block;"
						  @input="onChangeSetEventListener(index, $event)"
						  :value="displaySet(index)"
						  rows="10">

				</textarea>
			</div>
			<div class="item center">
				<div class="format-option">
					<span class="heading">Separator</span>
					<input v-model="config.separator" type="text">
				</div>
				<div class="format-option">
					<span class="heading">Wrap in</span>
					<select v-model="config.wrapper" name="" id="">
						<option value="''">''</option>
						<option value='""'>""</option>
						<option value="<>"><></option>
						<option value="()">()</option>
						<option value="[]">[]</option>
						<option value="{}">{}</option>
					</select>
				</div>
				<div class="format-option">
					<span class="heading">Format</span>
					<select v-model="config.case">
						<option value="snake_case">Snake case</option>
						<option value="dash_case">dash-case</option>
						<option value="camel_case">camelCase</option>
						<option value="studly_case">StudlyCase</option>
						<option value="upper_case">UPPER CASE</option>
						<option value="lower_case">lower case</option>
						<option value="title_case">Title Case</option>
						<option value="normal_case">Normal case</option>
						<option value="none">None</option>
					</select>
				</div>
			</div>
			<div class="item center">
				<span v-if="isCounting" class="heading">Counting combinations..</span>
				<span class="heading" v-else="">{{combinationsCount}} combinations possible</span>
			</div>
			<div class="item center">
				<a href="#" class="btn btn-primary" @click="onMergeClickEventListener">{{isMerging ? 'Merging...' : 'Merge'}}</a>
			</div>
			<div class="item center">
				<textarea style="width: 50%" cols="30" rows="10" :value="readableCombinations"></textarea>
			</div>
		</div>
		<div class="footer">
			<div class="content" style="padding-top: 10px">
				<div class="item right">
					<a href="#" class="btn btn-success" style="margin-right: 10px">Upload</a>
					<a href="#" class="btn btn-warning">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
  import {defaultSets} from '../data'
  import {getAllCombinationsRequest, getCombinationCountRequest} from '../api'

  export default {
    name: 'MergePage',
	data () {
      return {
        isMerging: false,
		isCounting: false,
        sets: defaultSets,
		combinations: [],
		combinationsCount: 0,
		config: {
          case: 'snake_case',
		  separator: '-',
		  wrapper: '\'\''
		}
	  }
	},
	created () {
      this.refreshCombinationsCount()
	},
	methods: {
      displaySet(index) {
        return this.sets[index].join('\n');
	  },

      /**
	   * Fire when set has been edited
	   *
	   * Remove empty strings from set
	   *
       * @param index
       * @param value
       */
	  onChangeSetEventListener(index, {target}) {
        this.sets[index] = target.value
		  .split('\n')

        this.refreshCombinationsCount()
	  },

	  /**
	   * Fire when user click on merge button
	   */
      async onMergeClickEventListener() {
		this.isMerging = true

	    const data = {
	      // Make a copy of sets array without empty strings
	      sets: this.getSetsPayloadData(),
		  separator: this.config.separator,
		  case: this.config.case,
		  wrapper: this.config.wrapper
		}

	    const response = await getAllCombinationsRequest(data).catch(() => {})

		this.isMerging = false

		if (response && response.status === 200) {
		  this.combinations = response.data.result
		}
	  },

      /**
	   * Refresh combinations count
       */
	  refreshCombinationsCount() {
	    this.isCounting = true

	    getCombinationCountRequest(this.getSetsPayloadData())
		  .then(({data}) => {
		    this.combinationsCount = data.count
			this.isCounting = false
		  })
		  .catch(() => {})
	  },

      /**
	   * Remove empty strings
	   *
       * @return {any[]}
       */
	  getSetsPayloadData() {
	    return this.sets.map(set => {
	      return set.filter(x => x)
		})
	  }
	},
	computed: {
      readableCombinations() {
        return this.combinations.join('\n')
	  }
	}
  }
</script>

<style>
	.container {
		margin-left: 300px;
		margin-right: 300px;
	}

	.container .header {
		border-bottom: 1px solid #8a8a8a;
	}

	.container .content {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.content .item {
		display: flex;
		width: 100%;
		padding-bottom: 20px;
	}

	.item.right {
		justify-content: flex-end;
	}

	.item.center {
		justify-content: center;
	}

	.item .set-block {
		min-width: 200px;
	}

	.scrollable {
		overflow-x: auto;
	}

	.btn {
		display: block;
		border-radius: 5px;
		min-width: 20px;
		padding-left: 5px;
		padding-right: 5px;
		height: 30px;
		line-height: 30px;
		background-color: #747474;
		text-decoration: none;
		color: white;
	}

	.btn-success {
		background-color: #00B397;
	}

	.btn-primary {
		background-color: #334aff;
	}

	.btn-warning {
		background-color: #ff934c;
	}

	.heading {
		font-weight: bold;
	}

	.format-option {
		display: flex;
		width: 300px;
		justify-content: flex-start;
		flex-direction: column;
	}

	.footer {
		border-top: 1px solid #8a8a8a;
	}
</style>
